Détails Auteur

<h1>Détails de l'auteur</h1>

<img src="{{ asset(author.picture) }}" alt="{{ author.username }}" width="120"><br>
<strong>Nom :</strong> {{ author.username }} <br>
<strong>Email :</strong> {{ author.email }} <br>
<strong>Nombre de livres :</strong> {{ author.nb_books }}

<br><br>
<a href="{{ path('listAuthors') }}">Retour à la liste</a>
